* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: rgb(196, 164, 86);    
}

img {
    width: 100%;
}

.container {
    width: 90%;
}

.head {
    text-align: center;
}

h1 {
    font-family: "Rubik Bubbles", system-ui;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 75px;
    font-size: 32px;
    transition : color 1s ease;
}

h1:hover {
    font-size: 36px;
}

form {
    margin-bottom: 15px;
}

button img {
    width: 10px;
}

hr {
    margin-top: 30px;
}